{% extends 'inbase.html' %}
 {%block content %}
        <div class="portfolio" id="portfolio">
            <h1 class="text-center">Categories</h1>
        <div class="container">
         <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food2.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food3.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food4.jpg" class="img-fluid">
          </div>
             
       <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food5.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food6.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food7.jpg" class="img-fluid">
          </div>
             
       <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food8.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\john.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food1.jpg" class="img-fluid">
          </div>
         </div>
        </div>
       </div>
      {% endblock %}