{% extends 'inbase.html' %}
        <!-- navbar -->  
   {% block content %}       
 <nav class="navbar navbar-expand-lg fixed-top ">  
    <a class="navbar-brand" href="">Home</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse " id="navbarSupportedContent">  
          <ul class="navbar-nav mr-4">
    <li class="nav-item">
        <a class="nav-link" data-value="about" href="#">About</a>        </li>  
   <li class="nav-item">
       <a class="nav-link " data-value="portfolio" href="#">Categories</a>    
    </li>
    <li class="nav-item"> 
       <a class="nav-link " data-value="blog" href="#">Cart</a>         </li>   
   <li class="nav-item">  
      <a class="nav-link " data-value="team" href="#"> Team</a>       </li>  
   <li class="nav-item"> 
    <a class="nav-link " data-value="contact" href="#">Contact</a>       </li> 
   </ul> 
   </div>
</nav>
  
   <header class="header"> 
    <div class="overlay"></div>
<div class="container">

<div class="description ">
<h1>    Hello ,Welcome To Cantine Restaurent  
<p>    one of the best taste ever found...
   Accept what people offer, Drink their Milkshake, take their love....
   what came first,the chicken or the egg? dont care,eat both...
</p>   
<button class="btn btn-outline-secondary btn-lg">See more</button>    
</h1> 
</div>   
</div>
</header> 


<div class="about" id="about">
    
        <h1 class="text-center">About Me</h1>
        <div class="container">
    <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
             <img src="\static\john.jpg" class="img-fluid">
             <span class="text-justify">John cena</span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 desc">
              
             <h3>John Cena</h3>
             <p>
                WWE and Hollywood star John Cena is reportedly dating again following his
                 split from Nikki Bella and he has been snapped hand-in-hand with a mystery woman.
                  Nikki Bella and John Cena are "basically back together"
                 and it has been claimed that the couple never planned to end their relationship.
             </p>
            </div>
           </div>
        </div>
     </div>

        

        <div class="portfolio" id="portfolio">
            <h1 class="text-center">Categories</h1>
        <div class="container">
         <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food2.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food3.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food4.jpg" class="img-fluid">
          </div>
             
       <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food5.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food6.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food7.jpg" class="img-fluid">
          </div>
             
       <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food8.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\john.jpg" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
           <img src="\static\food1.jpg" class="img-fluid">
          </div>
         </div>
        </div>
       </div>

      


       <div class="blog" id="blog">
        <div class="container">
        <h1 class="text-center">Cart</h1>
         <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-12">
           <div class="card">
            <div class="card-img">
             <img src="\static\kaushik2.jpg" class="img-fluid">
            </div>
            
            <div class="card-body">
            <h4 class="card-title">Kaushik</h4>
             <p class="card-text">
              
             He's done wireframes , synopsis and inventory front end pages....
             </p>
            </div>
            <div class="card-footer">
             <a href="" class="card-link">Add to cart</a>
            </div>
           </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12">
           <div class="card">
            <div class="card-img">
             <img src="\static\clinton.jpg" class="img-fluid">
            </div>
            
            <div class="card-body">
               <h4 class="card-title">clinton</h4>
             <p class="card-text">
              
              progressing with models and pushing items to cart ,basically backend part
             </p>
            </div>
            <div class="card-footer">
             <a href="" class="card-link">Add to cart</a>
            </div>
           </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12">
           <div class="card">
            <div class="card-img">
             <img src="\static\yash.jpg" class="img-fluid">
            </div>
            
            <div class="card-body">
            <h4 class="card-title">john Cena</h4>
             <p class="card-text">
              
            He's the one who's written all the useless stuff which you were reading untill now ...which means even you are also useless fellow only...
             </p>
            </div>
            <div class="card-footer">
             <a href="" class="card-link">Add to cart</a>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>




<div class="team" id="team">
    <div class="container">
       <h1 class="text-center">Our Team</h1>
     <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="\static\cd.jpg" class="img-fluid" alt="team">
       <div class="des">
         clinton
        </div>
       <span class="text-muted">Back end developer</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="\static\kau.jpg" class="img-fluid" alt="team">
       <div class="des">
          kaushik
        </div>
       <span class="text-muted">Manager</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="\static\john.jpg" class="img-fluid" alt="team">
       <div class="des">
         john
        </div>
       <span class="text-muted">Developer</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="\static\kaushik.jpg" class="img-fluid" alt="team">
        <div class="des">
         Ruth kaushik
        </div>
       <span class="text-muted">Mr.Mrs Team leader</span>
      </div>
     </div>
    </div>
   </div>
   


   <div class="contact-form" id="contact">
    <div class="container">
     <form>
      <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-12">
         <h1>Get in Touch</h1> 
       </div>
       <div class="col-lg-8 col-md-8 col-sm-12 right">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-lg">
             
            </textarea>
          </div>
          <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
       </div>
      </div>
     </form>
    </div>
   </div>
   <script type="text/javascript" src="\static\js\jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="\static\js\bootstrap.min.js"></script>
   <script type="text/javascript" src="\static\js\main.js"></script>
   
{% endblock %}